<template>
  <div id="app">
    <Menu v-if="gameState == 0"/>
    <Game v-if="gameState == 1"/>
  </div>
</template>

<script>
import Game from './components/Game.vue'
import Menu from './components/Menu.vue'
import store from '@/store'
import { mapState } from 'vuex'

export default {
  name: 'app',
  store,
  components: {
    Game,
    Menu
  },
  computed: {
    ...mapState(['gameState'])
  },
  mounted () {
    store.dispatch('init')
  }
}
</script>

<style lang="less">

html, body, #app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #0c1122;
  font-family: 'VT323', monospace;
}

</style>
