<template>
  <div class="background">
    <div class="bg l2"></div>
    <div class="bg l3"></div>
    <div class="bg l4"></div>
    <div class="bg l5"></div>
    <div class="bg l6"></div>
    <div class="bg l7"></div>
    <div class="bg l8"></div>
    <div class="bg l9"></div>
    <div class="bg l10"></div>
    <div class="bg l11"></div>
  </div>
</template>

<script>
export default {
  name: 'Background'
}
</script>

<style lang="less" scoped>
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: auto auto;
  background-repeat: repeat-x;
  background-position: bottom;
}
.l2 {
  background-image: url('../assets/layers/Layer_0009_2.png');
}
.l3 {
  background-image: url('../assets/layers/Layer_0008_3.png');
}
.l4 {
  background-image: url('../assets/layers/Layer_0007_Lights.png');
}
.l5 {
  background-image: url('../assets/layers/Layer_0006_4.png');
}
.l6 {
  background-image: url('../assets/layers/Layer_0005_5.png');
}
.l7 {
  background-image: url('../assets/layers/Layer_0004_Lights.png');
}
.l8 {
  background-image: url('../assets/layers/Layer_0003_6.png');
}
.l9 {
  background-image: url('../assets/layers/Layer_0002_7.png');
}
.l10 {
  background-image: url('../assets/layers/Layer_0001_8.png');
}
.l11 {
  background-image: url('../assets/layers/Layer_0000_9.png');
}
</style>
