<template>
  <div class="game">
    <Background/>

    <audio controls id="hitSound" hidden>
      <source src="../assets/audio/hit.wav" type="audio/wav">
    </audio>
    <audio controls id="backgroundSound" hidden>
      <source src="../assets/audio/background.ogg" type="audio/ogg">
    </audio>
    <audio controls id="countdownSound" hidden>
      <source src="../assets/audio/countdownSound.mp3" type="audio/mp3">
    </audio>

    <div class="character player"
        :class="{
          'fight': hasRoundEnded,
          'dead': hasRoundEnded && !isPlayerWinner
        }">
      <div class="label" v-if="!hasRoundEnded">YOU</div>
      <img src="../assets/characters/player_stance_wait.png" v-if="!hasRoundEnded"/>
      <img src="../assets/characters/player_stance_fight.png" v-if="hasRoundEnded"/>
    </div>

    <div v-if="hasOpponent"
         class="character opponent"
        :class="{
          'fight': hasRoundEnded,
          'dead': hasRoundEnded && isPlayerWinner
        }">
      <img src="../assets/characters/opponent_stance_wait.png" v-if="!hasRoundEnded"/>
      <img src="../assets/characters/opponent_stance_fight.png" v-if="hasRoundEnded"/>
    </div>

    <div class="message-container">
      <div>{{roundMessage || ''}}</div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Background from './Background.vue'

export default {
  name: 'Game',
  components: {
    Background
  },
  computed: {
    ...mapState([
      'hasOpponent',
      'hasRoundEnded',
      'isPlayerWinner',
      'roundState',
      'roundMessage'
    ])
  },
  watch: {
    roundState (roundState) {
      const hitSound = document.getElementById('hitSound')
      const backgroundSound = document.getElementById('backgroundSound')
      const countdownSound = document.getElementById('countdownSound')
      backgroundSound.volume = 0.4
      countdownSound.volume = 0.4
      if (roundState === 'ROUND_FIGHT') {
        backgroundSound.pause()
        hitSound.play()
      } else if (roundState === 'ROUND_START') {
        backgroundSound.play()
        countdownSound.play()
      }
    }
  }
}
</script>

<style lang="less">
.game {
  width: 100%;
  height: 100%;
  max-height: 600px;
  position: relative;
  background-color: #0c1122;
  color: white;
  text-align: center;
  overflow: hidden;
  user-select: none;

  .character {
    position: absolute;
    bottom: 60px;
    opacity: 1;
    font-size: 30px;

    transition: left 0.4s cubic-bezier(.87, .01, 0, .99),
                right 0.4s cubic-bezier(.87, .01, 0, .99);

    &.player {
      left: 5%;

      &.fight {
        left: 80%;
      }
    }

    &.opponent{
      right: 5%;
      transform: scaleX(-1);

      &.fight{
        right: 80%;
      }
    }

    @keyframes blackblink {
      0% { filter: brightness(1) }
      10% { filter: brightness(0.5) }
      20% { filter: brightness(0) }
      90% { filter: brightness(0.7) }
      100% { filter: brightness(1) }
    }

    &.fight {
      animation-duration: 0.5s;
      animation-name: blackblink;
    }

    @keyframes dying {
      from {
        opacity: 1;
      }
      50% {
        filter: brightness(0)
      }
      to {
        opacity: 0;
      }
    }

    &.dead {
      animation-fill-mode: forwards;
      animation-duration: 0.5s, 1s;
      animation-delay: 0ms, 1s;
      animation-name: blackblink, dying;
    }

    .label {
      margin-bottom: 20px;
    }
  }

  .message-container {
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 50px;
    font-weight: bolder;
  }
}
</style>
