<template>
  <div class="menu">
    <div class="logo">
      <img src="../assets/samurai_logo.png"/>
    </div>
    <div class="playButton">
      <button @click="joinGame"
              :disabled="waitingForRoom">
        {{ waitingForRoom ? 'Joining ...' : 'PLAY' }}
      </button>
    </div>
    <ul class="howToPlay">
      <li>Wait for the countdown to disappear</li>
      <li>
        <span class="triggerInputLabel"/> when the <span class="triggerSymbol">" ! "</span> appears
      </li>
      <li>Don't click before that or you'll lose</li>
      <li>Enjoy!</li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import store from '@/store'

export default {
  name: 'Menu',
  store,
  computed: {
    ...mapState([
      'waitingForRoom'
    ])
  },
  methods: {
    joinGame () {
      store.dispatch('joinGame')
    }
  }
}
</script>

<style scoped lang="less">
.menu {
  display: flex;
  flex-direction: column;
  color: white;

  & > * {
    margin-top: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .logo {
    img {
      width: 90%;
      max-width: 500px;
    }
  }

  .howToPlay {
    display: flex;
    flex-direction: column;
    font-size: 30px;

    .triggerInputLabel::before {
      content: 'Press SPACEBAR'
    }

    .triggerSymbol {
      font-size: 50px;
    }

  }
  @media screen and (max-width: 690px) {
    .howToPlay {
      font-size: 15px;

      .triggerSymbol {
        font-size: 20px;
      }

      .triggerInputLabel::before {
        content: 'TAP'
      }
    }
  }

  .playButton {
    button {
      width: 50%;
      height: 80px;
      font-size: 40px;
      background-color: #0c1122;
      border: 1px solid white;
      border-radius: 15px;
      color: white;
      user-select: none;
      cursor: pointer;
      font-family: 'VT323', monospace;
    }
    button:hover {
      background-color: #b1b31c;
    }
    button:active {
      outline:0;
      background-color: #767714;
    }
  }
}
</style>
